* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}
body {
  background: rgba(17, 122, 255, 1);
  /* background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  ); */
}

.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 430px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0px;
  font-size: 24px;
  color: white;
}

* {
  font-size: 18px;
}

.alertText {
  color: #ff0000;
  margin-top: 10px;
}

li {
  list-style: none;
  margin-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.todoForm {
  margin-bottom: 20px;
}

.todo-list li {
  padding: 10px 0px 10px 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  font-size: 18px;
  color: white;
}

.todoForm-input {
  padding: 10px 0px 10px 20px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 210px;
  background: transparent;
  color: #fff;
}

.todoForm-submit {
  padding: 12px;
  border: none;
  border-radius: 0 4px 4px 0;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
}
.checkbox {
  float: left;
  margin-top: 0px;
  margin-left: 5px;
}

.buttonList {
  float: right;
}

.todoForm-edit {
  border: none;
  margin-right: 10px;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  background-color: transparent;
}
